@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html { height: 100%;}

body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-size: 1em;
    line-height: 135%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
}

/*головний блок*/

.content {
    flex: 1 1 auto;
    background-color: rgba(255, 204, 153, 0.5);
    background-image: url(../img/bg.png);
    /*background-repeat: no-repeat;*/
    background-position: center;
    /*background-size: cover;*/
}

/*блок з кнопками для переходу на головну і сторінку користувача*/

.content .top-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 50px;
}

.content .top-buttons #goMainPage {
    margin-left: 5%;
    border: 5px solid white;
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 10px 35px;
    font-family: 'Times New Roman';
    font-size: 1.5em;
}

.content .top-buttons #userPage {
    width: 65px;
    height: 65px;
    background-color: rgba(28,28,28,0);
    border: none;
    margin-right: 5%;
}

.content .top-buttons button:hover {
    cursor: pointer;
}

/*блок з пошуком і кнопкою "додати"*/

.main-content .search-block {
    margin-left: 25%;
    min-height: 100px;
}

.main-content .search-block .autocomplete {
    width: 50%;
    float: left;
    position: relative;
    display: inline-block;
}

.main-content .search-block .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    margin-left: 30px;
    font-size: 1.25em;
}

.main-content .search-block .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.main-content .search-block .autocomplete-items:hover {
    background-color: #e9e9e9;
}

.main-content .search-block .autocomplete-active {
    background-color: dodgerblue !important;
    color: #ffffff;
}

.main-content .search-block #search-line {
    width: 100%;
    font-family: 'Times New Roman';
    font-size: 2em;
    border: 5px solid black;
    border-radius: 50px;
    padding: 15px 20px;
}

.main-content .search-block #add-button {
    margin-left: 70px;
    font-family: 'Times New Roman';
    font-size: 2em;
    border: 5px solid black;
    border-radius: 50px;
    padding: 15px 20px;
    background-color: #2FC916;
}

.main-content .search-block #add-button:hover {
    cursor: pointer;
}

/*блок зі списками*/

.main-content .listboxes-block {
    margin-left: 25%;
    margin-top: 100px;
}

.main-content .listboxes-block h2 {
    color: red;
    /*    filter: blur(8px);*/
    backdrop-filter: blur(7px);
    margin-right: 60%;
    text-align: center;
    border-radius: 50px;
    font-size: 2em;
    width: auto;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 10%;
}

.main-content .listboxes-block select {
    width: 55%;
    float: left;
    overflow: auto;
    margin-bottom: 100px;
    min-height: 200px;
    border: 5px solid black;
    border-radius: 25px;
}

.main-content .listboxes-block select option {
    font-family: 'Times New Roman';
    font-size: 2em;
    padding: 5px 15px;
}

.main-content .listboxes-block .ingredients-block {
    min-height: 500px;
}

.main-content .listboxes-block .ingredients-block #remove-button {
    font-family: 'Times New Roman';
    font-size: 2em;
    border: 5px solid black;
    border-radius: 50px;
    padding: 15px 20px;
    background-color: red;
    margin-left: 20px;
}

.main-content .listboxes-block .ingredients-block #remove-button:hover {
    cursor: pointer;
}

/*footer*/

footer {
    width: 98%;
    height: 100px;
    float: left;
    padding: 1%;
    background-color: #FFCC99;
}

footer .rights {
    width: 50%;
    float: right;
    text-align: right;
    vertical-align: middle;
}
/*/////////// Правки з беку \\\\\\\\\\\\\\\\*/

.main-content .recipes-block #recipes-list {
    width: 80%;
    float: left;
    overflow: auto;
    margin-bottom: 100px;
    min-height: 200px;
    background-color: #fff;
    border: 5px solid black;
    border-radius: 25px;
}

.red {
    background-color: red;
}

.content {
    background-repeat: repeat-y;
}

.checkboxes {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    width: 65%;
    font-size: 20px;
    background-color: #FFCC99;
}
/*.main-content .search-block .autocomplete { */
/*    width: 70%; */
/*}*/
/*.main-content .search-block { */
/*    margin-left: 15%; */
/*}*/
/*.main-content .listboxes-block select {*/
/*    width: 70%;*/

/*}*/
/*.main-content .search-block {*/
/*    margin-left: 15%;*/
/*}*/
/*.main-content .listboxes-block {*/
/*    margin-left: 15%;*/
/*}*/
