<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: rgba(70, 130, 180, 0.5);">
<div class="top-buttons">
    <form  action="/" method="GET" >
        <button type="submit">Головна</button>
    </form>
    <form  action="/home" method="GET">
        <button type="submit">Особистий кабінет</button>
    </form>
</div>
<p th:text="${error}" style="color:red;" />
<form  action="/moder" method="POST" style="display: flex;
flex-direction: column;
    align-items: center;">
    <input type="text" name="name" style="margin-top: 20px;
        width: 500px;
    height: 30px;" placeholder="Назва рецепту">
    <textarea name="recipe" style="margin-top: 20px;
        width: 500px;
    height: 150px;"
              placeholder="Рецепт(коротко)"></textarea>

    <textarea name="ingredients" style="margin-top: 20px;
        width: 500px;
    height: 150px;"
              placeholder="Інгредієнти(через сому)"></textarea>
    <textarea name="url" style="margin-top: 20px;
        width: 500px;
    height: 150px;"
              placeholder="Посилання на статтю"></textarea>
    <select name="user_city">
        <option value="first_courses">Перші страви</option>
        <option value="second_courses">Другі страви</option>
        <option value="appetizer">Закуски</option>
        <option value="baking">Випічка</option>
        <option value="desserts">Десерти</option>
        <option value="drinks">Напої</option>
        <option value="holiday_menus">Св'яткові страви</option>
        <option value="preservation">Консервування</option>
        <option value="salads">Салати</option>
    </select>
    <button type="submit">Створити рецепт</button>
</form>
</body>
</html>
