<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes Guid</title>
    <link rel="stylesheet" th:href="@{css/main.css}">
    <script th:src="@{js/script.js}"></script>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <div class="top-buttons">
                <button id="goMainPage" onclick="goTo('/')">Головна</button>
                <button id="userPage" onclick="goTo('/home')">
                    <img src="/img/user1.png" alt="user">
                </button>
            </div>
        </div>
        <div class="search">
            <form method="get">
                <input type="text" name="search"/>
                <div>
                    <input type="radio" id="ONE" name="type_search" value="ONE" checked="TRUE">
                    <label for="ONE">Всі рецепти які містять даний інгредієнт</label>
                    <input type="radio" id="css" name="type_search" value="ALL">
                    <label for="css">Рецепти за повним збігом</label>
                </div>
                <input class="search_button" type="submit" value="Find"/>
            </form>
            <div th:each="rep : ${recipes}">
                <h4 th:text="${rep.name}"/>
                <p th:text="${rep.recipe}"/>
                <button th:id="${rep.id}" onClick="addToFavorite(this.id)">В улюблене</button>
            </div>
        </div>
        <footer>
            <div class="rights">
                <p>Всі права захищено &copy; 2023</p>
            </div>
        </footer>
    </div>
</body>
</html>

